@{
    ViewData["Title"] = "Portal";
}

<div class="center">
    <iframe title="Report Section" width="1600" height="1200" src="https://app.powerbi.com/view?r=eyJrIjoiYmU5Yjg3MzMtZTFlMS00ZmM4LTliYjMtNjQ1Y2ViZDlhYTBmIiwidCI6IjhkOWM2OTg2LWNjYWMtNGY3ZC1hMDg1LTFjMTVjYzg0YzM0NSJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
</div>
