<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/52218c6c-7fa4-4e7e-b7c6-df897f3119f0/resourceGroups/univespResourceGroup/providers/Microsoft.Web/sites/univesp-mr</ResourceId>
    <ResourceGroup>univespResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://univesp-mr.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a6d22e31-329c-4455-81ae-a1980370bdf1</ProjectGuid>
    <PublishUrl>https://univesp-mr.scm.azurewebsites.net/</PublishUrl>
    <UserName>$univesp-mr</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>